body{
    background-color: #9e9e9e;
}
h1{
    text-align: center;
    color: rgba(247, 133, 247, 0.432)
    
}
h2{
    color:  rgba(247, 133, 247, 0.432)
}
.enviar{
    border-radius: 25%;
    background-color: #a0e016 ;
    color: #75470f;
}
.etiqueta{
    background-color: #c96ba2;
}
